@model Webb.Models.Products

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Product</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index"><div class="form-group">
            <br />
    <input type="" value="Back" class="btn btn-default" />
    </div></a>
    </form>
</div>
